{{ $alertType := (.Get 0 | default "info") }}

{{ if not (in "danger warning success info" $alertType) }}
  <strong>[ERROR]</strong> {{ $alertType }} is an invalid alert type. Available
  options are <code>danger</code>, <code>warning</code>, <code>success</code>,
  and <code>info</code>. If an alert type is not specified, it will default to
  <code>info</code>.
{{ else }}
  <div class="alert alert-{{ .Get 0 | default "info" }}">
    {{ $alertIconClass := dict "danger" "pficon-error-circle-o" "warning" "pficon-warning-triangle-o" "success" "pficon-ok" "info" "pficon-info" }}
    <span class="pficon {{ index $alertIconClass $alertType }}"></span>
    {{ .Inner }}
  </div>
{{ end }}
