{{ partial "header" . }}

<div class="jumbotron jumbotron-page text-center">
  <div class="color-overlay blue-to-red white-text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        {{ range .Data.Pages }}
          <li>
            {{ .Title }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ partial "footer" . }}
