{{ partial "header" . }}

<div class="jumbotron jumbotron-page text-center">
  <h1>{{ .Title }}</h1>
</div>

<div class="container">
  <div class="row">
    <p class="text-center">
      {{ $mainLabPage := delimit (slice "/workshops" .Params.workshops) "/" }}
      <a href="{{ $mainLabPage | absURL }}">Return to Workshop</a>
    </p>
    
    {{ partial "prev_next_links" .Page }}

    {{ .Content }}

    {{ partial "prev_next_links" .Page }}

    <p class="text-center">
      {{ $mainLabPage := delimit (slice "/workshops" .Params.workshops) "/" }}
      <a href="{{ $mainLabPage | absURL }}">Return to Workshop</a>
    </p>
  </div>
</div>

{{ partial "footer" . }}
