<hr>
<h3>Workshop Details</h3>
<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-12" id="workshopFooterDetails">
    <table>
      <tr>
        <td class="text-right"><b>Domain</b></td>
        <td><span class="domain"></span></td>
        <td rowspan="3">
          <img src="https://marketing-outfit-prod-images.s3-us-west-2.amazonaws.com/f5445ae0c9ddafd5b2f1836854d7416a/Logo-RedHat-Email.png" alt="Red Hat Logo" />
        </td>
      </tr>
      <tr>
        <td class="text-right"><b>Workshop</b></td>
        <td><span class="prefix"></span></td>
      </tr>
      <tr>
        <td class="text-right"><b>Student ID</b></td>
        <td><span class="userid"></span></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-8 col-md-7 col-sm-12">
    <form id="footerForm" onsubmit="return false;" class="row" style="padding: 1.75rem 0 0 0;">
      <div class="form-group col-sm-6 col-md-6 col-lg-2">
        <label for="userid">Student ID</label>
        <select id="userid" name="userid" class="form-control" onchange="updateFooter(this)">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
          <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
          <option value="60">60</option>
          <option value="61">61</option>
          <option value="62">62</option>
          <option value="63">63</option>
          <option value="64">64</option>
          <option value="65">65</option>
          <option value="66">66</option>
          <option value="67">67</option>
          <option value="68">68</option>
          <option value="69">69</option>
          <option value="70">70</option>
          <option value="71">71</option>
          <option value="72">72</option>
          <option value="73">73</option>
          <option value="74">74</option>
          <option value="75">75</option>
          <option value="76">76</option>
          <option value="77">77</option>
          <option value="78">78</option>
          <option value="79">79</option>
          <option value="80">80</option>
          <option value="81">81</option>
          <option value="82">82</option>
          <option value="83">83</option>
          <option value="84">84</option>
          <option value="85">85</option>
          <option value="86">86</option>
          <option value="87">87</option>
          <option value="88">88</option>
          <option value="89">89</option>
          <option value="90">90</option>
          <option value="91">91</option>
          <option value="92">92</option>
          <option value="93">93</option>
          <option value="94">94</option>
          <option value="95">95</option>
          <option value="96">96</option>
          <option value="97">97</option>
          <option value="98">98</option>
          <option value="99">99</option>
          <option value="100">100</option>
          <option value="101">101</option>
          <option value="102">102</option>
          <option value="103">103</option>
          <option value="104">104</option>
          <option value="105">105</option>
          <option value="106">106</option>
          <option value="107">107</option>
          <option value="108">108</option>
          <option value="109">109</option>
          <option value="110">110</option>
          <option value="111">111</option>
          <option value="112">112</option>
          <option value="113">113</option>
          <option value="114">114</option>
          <option value="115">115</option>
          <option value="116">116</option>
          <option value="117">117</option>
          <option value="118">118</option>
          <option value="119">119</option>
          <option value="120">120</option>
          <option value="121">121</option>
          <option value="122">122</option>
          <option value="123">123</option>
          <option value="124">124</option>
          <option value="125">125</option>
          <option value="126">126</option>
          <option value="127">127</option>
          <option value="128">128</option>
          <option value="129">129</option>
          <option value="130">130</option>
          <option value="131">131</option>
          <option value="132">132</option>
          <option value="133">133</option>
          <option value="134">134</option>
          <option value="135">135</option>
          <option value="136">136</option>
          <option value="137">137</option>
          <option value="138">138</option>
          <option value="139">139</option>
          <option value="140">140</option>
          <option value="141">141</option>
          <option value="142">142</option>
          <option value="143">143</option>
          <option value="144">144</option>
          <option value="145">145</option>
          <option value="146">146</option>
          <option value="147">147</option>
          <option value="148">148</option>
          <option value="149">149</option>
          <option value="150">150</option>
          <option value="151">151</option>
          <option value="152">152</option>
          <option value="153">153</option>
          <option value="154">154</option>
          <option value="155">155</option>
          <option value="156">156</option>
          <option value="157">157</option>
          <option value="158">158</option>
          <option value="159">159</option>
          <option value="160">160</option>
          <option value="161">161</option>
          <option value="162">162</option>
          <option value="163">163</option>
          <option value="164">164</option>
          <option value="165">165</option>
          <option value="166">166</option>
          <option value="167">167</option>
          <option value="168">168</option>
          <option value="169">169</option>
          <option value="170">170</option>
          <option value="171">171</option>
          <option value="172">172</option>
          <option value="173">173</option>
          <option value="174">174</option>
          <option value="175">175</option>
          <option value="176">176</option>
          <option value="177">177</option>
          <option value="178">178</option>
          <option value="179">179</option>
          <option value="180">180</option>
          <option value="181">181</option>
          <option value="182">182</option>
          <option value="183">183</option>
          <option value="184">184</option>
          <option value="185">185</option>
          <option value="186">186</option>
          <option value="187">187</option>
          <option value="188">188</option>
          <option value="189">189</option>
          <option value="190">190</option>
          <option value="191">191</option>
          <option value="192">192</option>
          <option value="193">193</option>
          <option value="194">194</option>
          <option value="195">195</option>
          <option value="196">196</option>
          <option value="197">197</option>
          <option value="198">198</option>
          <option value="199">199</option>
          <option value="200">200</option>
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-4">
        <label for="domain">Domain</label>
        <select id="domain" name="domain" class="form-control" onchange="updateFooter(this)">
          <option value="redhatgov.io">redhatgov.io</option>
          <option value="rhnaps.io">rhnaps.io</option>          
          <option value="az.redhatgov.io">az.redhatgov.io</option>
          <option value="redhat-fierce.io">redhat-fierce.io</option>
          <option value="fiercesw.network">fiercesw.network</option>
          <option value="rhtps.io">rhtps.io</option>
          <option value="openshiftworkshop.com">openshiftworkshop.com</option>
          <option value="redhatpsmwsa.com">redhatpsmwsa.com</option>          
          <option value="open.redhat.com">open.redhat.com</option>
          <option value="opentlc.com">opentlc.com</option>
          <option value="aroapp.io">aroapp.io</option>
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-3">
        <label for="prefix">Workshop</label>
        <input id="prefix" name="prefix" type="text" size="16" class="form-control" placeholder="example"/>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-3">
        <button type="submit" class="btn btn-primary form-control" style="margin-bottom:1rem;">Enter</button>
        <button type="reset" class="btn btn-default form-control">Default</button>
      </div>
    </form>
  </div>
</div>

<hr>

<script type="text/javascript" src="{{ "/node_modules/js-cookie/src/js.cookie.js" }}"></script>
<script type="text/javascript">
<!--
  // Assign the js-cookie api to a different variable and restore the original "window.Cookies"
  var Cookies2 = Cookies.noConflict();

  var cookiePathArr = cleanArray(window.location.pathname.split('/'));
  var cookiePath = '/' + cookiePathArr[0] + '/' + cookiePathArr[1] + '/';

  function cleanArray(actual) {
    var newArray = new Array();
    for (var i = 0; i < actual.length; i++) {
      if (actual[i]) {
        newArray.push(actual[i]);
      }
    }
    return newArray;
  }
  function replaceClassText() {
    jQuery("span.domain").html(Cookies2.get("domain"));
    jQuery("span.userid").html(Cookies2.get("userid"));
    jQuery("span.prefix").html(Cookies2.get("prefix"));
  }
  function pageLoadWorkshopFooterTest() {
    //If this is a brand new user, let's reset everything for them
    if (Cookies2.get("domain") === undefined) {
      resetWorkshopFooter();
    }
    else {
      replaceClassText();
      setWorkshopFooterInputValues()
    }
  }
  function setWorkshopFooterData() {
    //Sets the cookies, nom nom nom...
    Cookies2.set("domain", jQuery("select#domain").val(), { path: cookiePath, expires: 7 } );
    Cookies2.set("prefix", jQuery("input#prefix").val(), { path: cookiePath, expires: 7 } );
    Cookies2.set("userid", jQuery("select#userid").val(), { path: cookiePath, expires: 7 } );
    replaceClassText();
  }
  function setWorkshopFooterInputValues() {
    jQuery("select#domain").val(Cookies2.get("domain"));
    jQuery("input#prefix").val(Cookies2.get("prefix"));
    jQuery("select#userid").val(Cookies2.get("userid"));
  }
  function resetWorkshopFooter() {
    //Set the defaults in the footer input fields
    jQuery("select#domain, select#userid").prop("selectedIndex", 0);
    jQuery("input#prefix").val(jQuery("input#prefix").attr('placeholder'));
    //Set the defaults in our cookies nom nom nom
    Cookies2.set("domain", jQuery("select#domain option").first().val(), { path: cookiePath, expires: 7 } ); //Sets to the first item in the drop down
    Cookies2.set("userid", jQuery("select#userid option").first().val(), { path: cookiePath, expires: 7 } ); //Sets to the first item in the drop down
    Cookies2.set("prefix", jQuery("input#prefix").val(), { path: cookiePath, expires: 7 } );
    //Set the defaults in the footer "output"
    //Hehe, we just do that by running the replaceClassText function
    replaceClassText();
  }




  function updateFooter(e){
    fieldName = '';

    switch(e.id) {
      case 'userid':
        fieldName = 'User Id';
        break;
      case 'domain':
        fieldName = 'Domain';
        break;
      case 'prefix':
        fieldName = 'Workshop';
        break;
      default:
        fieldName = 'unknown';
    }
    setWorkshopFooterData();
    toastr["success"](fieldName + " set to " + e.value);
  }

  jQuery(document).ready(function() {
    pageLoadWorkshopFooterTest();


    // Get the input field
    var input = document.getElementById("prefix");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        //document.getElementById("myBtn").click();
        updateFooter(input);
      }
    });


    jQuery("form#footerForm").submit(function() {
      setWorkshopFooterData();
      return false; //Prevent normal processing of submission
    });

    jQuery("form#footerForm").bind("reset", function() {
      resetWorkshopFooter();
      return true;
    });

    return false;
  });
-->
</script>
