<hr>
<h3>Workshop Details</h3>
<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-12" id="workshopFooterDetails">
    <table>
      <tr>
        <td class="text-right"><b>Domain</b></td>
        <td><span class="domain"></span></td>
        <td rowspan="3">
          <img src="https://marketing-outfit-prod-images.s3-us-west-2.amazonaws.com/f5445ae0c9ddafd5b2f1836854d7416a/Logo-RedHat-Email.png" alt="Red Hat Logo" />
        </td>
      </tr>
      <tr>
        <td class="text-right"><b>Student ID</b></td>
        <td><span class="userid"></span></td>
      </tr>
      <tr>
        <td class="text-right"><b> </b></td>
        <td><span></span></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-8 col-md-7 col-sm-12">
    <form id="footerForm" onsubmit="return false;" class="row" style="padding: 1.75rem 0 0 0;">
      <div class="form-group col-sm-6 col-md-6 col-lg-2">
        <label for="userid">Student ID</label>
        <select id="userid" name="userid" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-4">
        <label for="domain">Domain</label>
        <select id="domain" name="domain" class="form-control">
          <option value="hattrick1.lab">hattrick1.lab</option>
          <option value="hattrick2.lab">hattrick2.lab</option>
          <option value="hattrick3.lab">hattrick3.lab</option>
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-3">
        <button type="submit" class="btn btn-primary form-control" style="margin-bottom:1rem;">Enter</button>
        <button type="reset" class="btn btn-default form-control">Default</button>
      </div>
    </form>
  </div>
</div>

<hr>

<script type="text/javascript" src="{{ "/node_modules/js-cookie/src/js.cookie.js" }}"></script>
<script type="text/javascript">
<!--
  // Assign the js-cookie api to a different variable and restore the original "window.Cookies"
  var Cookies2 = Cookies.noConflict();

  var cookiePathArr = cleanArray(window.location.pathname.split('/'));
  var cookiePath = '/' + cookiePathArr[0] + '/' + cookiePathArr[1] + '/';

  function cleanArray(actual) {
    var newArray = new Array();
    for (var i = 0; i < actual.length; i++) {
      if (actual[i]) {
        newArray.push(actual[i]);
      }
    }
    return newArray;
  }
  function replaceClassText() {
    jQuery("span.domain").html(Cookies2.get("domain"));
    jQuery("span.userid").html(Cookies2.get("userid"));
  }
  function pageLoadWorkshopFooterTest() {
    //If this is a brand new user, let's reset everything for them
    if (Cookies2.get("domain") === undefined) {
      resetWorkshopFooter();
    }
    else {
      replaceClassText();
      setWorkshopFooterInputValues()
    }
  }
  function setWorkshopFooterData() {
    //Sets the cookies, nom nom nom...
    Cookies2.set("domain", jQuery("select#domain").val(), { path: cookiePath, expires: 7 } );
    Cookies2.set("userid", jQuery("select#userid").val(), { path: cookiePath, expires: 7 } );
    replaceClassText();
  }
  function setWorkshopFooterInputValues() {
    jQuery("select#domain").val(Cookies2.get("domain"));
    jQuery("select#userid").val(Cookies2.get("userid"));
  }
  function resetWorkshopFooter() {
    //Set the defaults in the footer input fields
    jQuery("select#domain, select#userid").prop("selectedIndex", 0);
    //Set the defaults in our cookies nom nom nom
    Cookies2.set("domain", jQuery("select#domain option").first().val(), { path: cookiePath, expires: 7 } ); //Sets to the first item in the drop down
    Cookies2.set("userid", jQuery("select#userid option").first().val(), { path: cookiePath, expires: 7 } ); //Sets to the first item in the drop down
    //Set the defaults in the footer "output"
    //Hehe, we just do that by running the replaceClassText function
    replaceClassText();
  }

  jQuery(document).ready(function() {
    pageLoadWorkshopFooterTest();

    jQuery("form#footerForm").submit(function() {
      setWorkshopFooterData();
      return false; //Prevent normal processing of submission
    });

    jQuery("form#footerForm").bind("reset", function() {
      resetWorkshopFooter();
      return true;
    });

    return false;
  });
-->
</script>
