{{ $md5Inner := md5 .Inner }}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{ with .Parent }}
      <a data-toggle="collapse" href="#collapse{{ $md5Inner }}" {{ if ne (.Get "collapsed") "false" }}class="collapsed"{{ end }}>
      {{ end }}
        {{ .Get 0 }}
      </a>
    </h4>
  </div>
  {{ with .Parent }}
  <div id="collapse{{ $md5Inner }}" class="panel-collapse collapse {{ if eq (.Get "collapsed") "false" }}in{{ end }}">
  {{ end }}
    <div class="panel-body">
       {{ .Inner }}
    </div>
  </div>
</div>
