{{ .Scratch.Set "BodyClass" "cards-pf" }}{{ partial "header" . }}

<a href="https://github.com/RedHatGov/redhatgov.github.io/fork" target="_blank">
  <img style="position: absolute; top: 50px; right: 0; border: 0; z-index: 9999;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
</a>

<div class="jumbotron jumbotron-home text-center">
  <h1>{{ .Site.Title }}</h1>
  <h2>{{ .Site.Params.Description }}</h2>
</div>

<div class="container container-cards-pf">
  <div class="row row-cards-pf">
    {{ range where .Site.Menus.main "Identifier" "workshops" }}
      {{ range .Children }}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="card-pf-top-element">
                <span class="{{ .Pre | default "pficon pficon-bundle" }} card-pf-icon-circle"></span>
              </div>
              <h2 class="card-pf-title text-center">{{ .Name }}</h2>
              <p class="card-pf-info text-center">
                <a class="view-workshop-url" href="{{ .URL }}">View Workshop</a>
              </p>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<script>
  $(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    $('.card-pf-view-single-select').click(function(event) {
      window.location.href = $('a.view-workshop-url', this).attr('href');
    });
  });
</script>

{{ partial "footer" . }}
